[submodule "references/zig"]
	path = references/zig
	url = https://codeberg.org/ziglang/zig.git
[submodule "references/elm"]
	path = references/elm
	url = https://github.com/elm/compiler.git
[submodule "references/roc"]
	path = references/roc
	url = https://github.com/roc-lang/roc.git
[submodule "references/elm-core"]
	path = references/elm-core
	url = https://github.com/elm/core.git
[submodule "references/effect"]
	path = references/effect
	url = https://github.com/Effect-TS/effect
	shallow = true
[submodule "references/elm-browser"]
	path = references/elm-browser
	url = https://github.com/elm/browser
	shallow = true
[submodule "references/elm-virtual-dom"]
	path = references/elm-virtual-dom
	url = https://github.com/elm/virtual-dom
	shallow = true
[submodule "references/solid"]
	path = references/solid
	url = https://github.com/solidjs/solid
	branch = next
	shallow = true
[submodule "references/dom-expressions"]
	path = references/dom-expressions
	url = https://github.com/ryansolid/dom-expressions
	branch = next
	shallow = true
[submodule "references/ajv"]
	path = references/ajv
	url = https://github.com/ajv-validator/ajv.git
	shallow = true
[submodule "references/typia"]
	path = references/typia
	url = https://github.com/samchon/typia.git
	shallow = true
[submodule "references/typebox"]
	path = references/typebox
	url = https://github.com/sinclairzx81/typebox.git
	shallow = true
[submodule "references/arktype"]
	path = references/arktype
	url = https://github.com/arktypeio/arktype.git
	shallow = true
[submodule "references/fast-json-stringify"]
	path = references/fast-json-stringify
	url = https://github.com/fastify/fast-json-stringify.git
	shallow = true
[submodule "references/zod"]
	path = references/zod
	url = https://github.com/colinhacks/zod.git
	shallow = true
[submodule "references/valibot"]
	path = references/valibot
	url = https://github.com/fabian-hiller/valibot.git
	shallow = true
[submodule "references/llvm-project"]
	path = references/llvm-project
	url = https://github.com/llvm/llvm-project.git
	shallow = true
[submodule "references/mlton"]
	path = references/mlton
	url = https://github.com/MLton/mlton.git
	shallow = true
[submodule "references/closure-compiler"]
	path = references/closure-compiler
	url = https://github.com/google/closure-compiler.git
	shallow = true
[submodule "references/egg"]
	path = references/egg
	url = https://github.com/egraphs-good/egg.git
	shallow = true
[submodule "references/graal"]
	path = references/graal
	url = https://github.com/oracle/graal.git
	shallow = true
[submodule "references/ghc"]
	path = references/ghc
	url = https://github.com/ghc/ghc.git
	shallow = true
