[submodule "references/zig"]
	path = references/zig
	url = https://codeberg.org/ziglang/zig.git
[submodule "references/elm"]
	path = references/elm
	url = https://github.com/elm/compiler.git
[submodule "references/roc"]
	path = references/roc
	url = https://github.com/roc-lang/roc.git
[submodule "references/elm-core"]
	path = references/elm-core
	url = https://github.com/elm/core.git
[submodule "references/effect"]
	path = references/effect
	url = https://github.com/Effect-TS/effect
	shallow = true
